
/* ================for mobile================= */

@media (min-width:200px) and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: stretch;
        padding-top: 10px;
        gap: 15px;
        
    }

    .blinkit-logo{
        padding: 10px;
    }

    .nav-address{
        padding: 10px;
    }

    .search-bar button{
        padding: 10px;
    }

    .search-bar {
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }


    .right-navbar {
        position: fixed;
        bottom: 0;
        justify-content: center;
        width: 100%;
        
    }

    .hero-section{
        display: none;
    }

    .shop-banner{
        flex-direction: column;
        
    }

    .shop-banner img {
        width: 100%;
        padding-right: 20px;
    }

    .Shope-items img {
        width:24%;
    }

    .product-item {
        flex-basis: 49%;
        margin-top: 10px;
        
    }

    .product{
        padding-left: 10px;
    
    }

    .heading a {
        margin-top: 5px;
    }


    .inner-footer1{
        flex-direction: column;
        margin-left: 10px;
    }

    .middle-footer{
        flex-direction: column;
        gap: 20px;
        
    }

    .icon-footer i{
        font-size: 24px;
        
    }

    .middle-footer{
        gap: 15px;
    }
    
     .downlad img{
        width: 23%;
    } 

    .downlad{
        margin-left: 30px;
        gap: 5px;
    }

    .last-footer{
        margin: 10px;
    } 

    .icon-footer{
        display: flex;
        gap: 10px;

    }
    


}


/* ==========================for tab========================= */


@media (min-width:576px) and (max-width:991px) {
    
   .blinkit-logo{
        padding: 10px;
    }

    .nav-address{
        padding: 10px;
    }
   
    .search-bar{
        height: 45px;
    }
   
   
    .navbar{
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        
    }
    
    .middle-navbar {
         width: 100%;
         margin: 10px;

    }

    .search-bar{
        width: 100%;
    }

    .right-navbar{
         position: fixed;
         gap: 2px;
         margin-right: 10px;
          left: 23rem; 
          top:1rem;
          
    }

    
    .product-item {
        flex-basis: 32%;
        margin-top: 10px;
        
    }

    .product{
        padding-left: 10px;
    
    }

    .heading a {
        margin-top: 5px;
    }


    .inner-footer1{
        margin-left: 10px;
    }

    .middle-footer{
        flex-direction: column;
        margin:15px;
    }
    

     .icon-footer i{
        position: static;
        margin-top: 10px;
    }


    .shope-section{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Shope-items img{
        width: 19%;
    }

    .right-navbar {
        position: absolute;

    }

     .last-footer{
        margin: 10px;
    } 


    .downlad{
        margin-left: 12rem;
        gap: 5px;
    }

    .downlad img{
        width: 22%;
    } 

    .icon-footer {
        margin-left: 10px;
        gap: 12px;
        
    }

    .icon-footer i{
        font-size: 24px;
        
        
    }

    .middle-footer{
        gap: 10px;
    }
}
